* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 24px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 1rem;
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#intro {
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 100px;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}


#outro {
  color: white;
  padding: 20px;
  text-align: center;
  background-color: MediumPurple;
  margin-top: 300px;
  height: 300px;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
}

figure {
  background-color: rgb(217, 217, 217);
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#visualization {
  position: absolute;
  top: 0;
}

#houseSVG{
  position: absolute;
  top: 0;
  width:100%;
  max-height: 100%;
  display:none;
  opacity: 0;
}

.step {
  margin: 0 auto 2rem auto;
  background-color: AliceBlue;
  color: grey;
  font-weight: normal;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: LightSkyBlue;
  color: black;
  font-weight: bold;
}

.step p {
  text-align: left;
  padding: 1rem;
  font-size: 1.5rem;
}
